@media screen and (max-width: 1024px) {
    .content-bottom {
        flex-direction: column;
    }
    .content-bottom img {
        display: block;
        width: 80%;
        margin: 0 auto!important;
    }

    .content-bottom .why-choose-us {
        margin: 0 auto;
    }

    .forms .form-container {
        flex-direction: column;
    }

    .forms .form-container .login-subscribe-form {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 962px) {
    .header-top ul.menu li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 862px) {
    .header-bottom{
    flex-direction: column;
    }

    .header-top ul.menu {
        display: none;
    }

    .header-top .button-mob-menu {
        display: block;
    }

    .header-bottom img {
        width: 70%;
        margin: 0 auto;
    }

    .header-bottom .introducing {
        margin: 40px auto!important;
    }
}


@media screen and (max-width: 790px) {
    main .article img {
        width: 90%;
    }
}



@media screen and (max-width: 720px){
    main .article-selection .article-categories img {
        display: none!important;
    }

    main .article-selection .article-categories p {
        font-size: 20px;
    }

    main .article-selection .article-categories span {
        font-size: 16px;
    }

    .content-bottom .why-choose-us {
        padding: 20px 0 0 50px;
    }

    .content-bottom .why-choose-us ul li {
        font-size: 14px;
    }

    footer .footer-content {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .footer-content .about-us {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 680px){
    footer .footer-content .footer-logo {
        margin: 0 auto;
    }
}

@media screen and (max-width: 512px){
    header .container {
        padding: 55px;
    }

    header .header-top .logo {
        font-size: 70px;
    }


    .header-bottom .introducing h1 {
        font-size: 42px;
    }

    .header-bottom .introducing h3 {
        font-size: 38px;
    }

    main .article-selection .article-categories p {
        font-size: 16px;
    }

    main .article-selection .article-categories span {
        font-size: 12px;
    }

    .forms .form-container .login-subscribe-form .inputs {
        flex-direction: column;
    }

    .forms .form-container .login-subscribe-form {
        box-sizing: border-box;
    }

    .forms .form-container .login-subscribe-form input {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 370px){

    .header-top ul.adaptive-menu {
        padding: 88px 75px;
    }

    footer .footer-content {
        justify-content: space-around;
    }

    footer .footer-content .about-us .footer-menu-toggle {
        display: none;
    }
    
}


@media screen and (max-width: 260px){

    .header-top .logo {
        font-size: 82px;
    }

    main .article-selection .article-categories p {
        font-size: 8px;
    }

    main .article-selection .article-categories span {
        font-size: 12px;
    }

    main .article h3 {
        font-size: 16px;
    }
}

